.logo {
  position: absolute;
  top: 100vh;
  right: 0;
  height: 2rem;
  margin-top: -10rem;

  display: none;
}
@media print {
  .logo {
    display: block;
  }
}

@media screen {
  v-field,
  v-item {
    background: lightyellow;
  }
}

.var-injector {
  margin: 0;
  padding: 0;
  padding-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background: #33333ddd;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;

  transition: max-height 300ms ease-in, background 250ms ease-in;
  max-height: 2rem;

  color: #fff;
  z-index: 9999;
}
.var-injector--open {
  overflow: auto;
  max-height: 70vh;
}
@media print {
  .var-injector {
    display: none;
  }
}

.var-injector button {
  border: 0;
  cursor: pointer;
  font-size: 1rem;
}

.var-injector .toggleButton {
  background: #33333d;
  width: 100%;
  top: 0;
  display: block;
  border: 0;
  cursor: pointer;
  position: fixed;
  transition: background 150ms ease-in;
}
.var-injector .toggleButton:hover {
  background: #2a2a2a;
}
.var-injector .toggleButton img {
  display: block;
  margin-left: auto;
  height: 1.5rem;
  margin: 0 0.5rem 0.5rem auto;
  filter: invert(1);
}

.var-injector ul {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.var-injector li {
  margin: 0;
  padding: 0;
  list-style: none;

  flex: 1 1 50%;
  padding: 1rem;
}

.var-injector label {
  display: block;
  font-size: 0.8rem;
  line-height: 1.1;
}

.var-injector input[type="color"],
.var-injector input[type="date"],
.var-injector input[type="datetime"],
.var-injector input[type="datetime-local"],
.var-injector input[type="email"],
.var-injector input[type="month"],
.var-injector input[type="number"],
.var-injector input[type="password"],
.var-injector input[type="search"],
.var-injector input[type="tel"],
.var-injector input[type="text"],
.var-injector input[type="time"],
.var-injector input[type="url"],
.var-injector input[type="week"],
.var-injector select:focus,
.var-injector textarea {
  font-size: 16px;
}

.var-injector input,
.var-injector textarea {
  font-family: Arial, Helvetica, sans-serif;

  margin: 0;
  padding: 0;

  padding: 0.5rem 1rem;
  border: 0;
  width: 100%;
  border-radius: 0;

  line-height: 1;
}
.var-injector textarea {
  resize: vertical;
}
.var-injector input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
.var-injector input[type="date"] {
  padding-bottom: calc(0.5rem + 1px);
}

.var-injector .url-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
}
.var-injector .url-box label {
  width: 100%;
}
.var-injector .url-box button {
  width: 10%;
  flex: 0 1 auto;
  padding: 0.5rem 1rem;
  background: #03dac6;
  font-size: inherit;
  line-height: 1;
  margin: 0;
}
.var-injector .url-box input {
  width: auto;
  flex: 1 0 auto;
}
.var-injector .loop {
  width: 100%;
  border: 0;
}
.var-injector .loop_addRow {
  background: #03dac6;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  display: block;
}
.var-injector .loop_li {
  position: relative;
  background: 1px solid #fff;
}
.var-injector .loop_removeRow {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  border: 2px solid #000;
  border-radius: 50%;
  overflow: hidden;
  transition: all 200ms ease-in;
}
.var-injector .loop_removeRow:hover {
  background: #000;
  border: 2px solid #fff;
  color: #fff;
}
