@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500%7CIBM+Plex+Serif:400,500");

:root {
  --font-size-min: 10;
  --font-size-max: 20;
  --viewport-min: 300;
  --viewport-max: 1200;

  --type-scale: 1.2;

  --type-scale-0: calc(var(--type-scale) * 1rem);
  --type-scale-1: calc(var(--type-scale) * var(--type-scale-0));
  --type-scale-2: calc(var(--type-scale) * var(--type-scale-1));
  --type-scale-3: calc(var(--type-scale) * var(--type-scale-2));
  --type-scale-4: calc(var(--type-scale) * var(--type-scale-3));
  --type-scale-5: calc(var(--type-scale) * var(--type-scale-4));

  --color-purple: #6200ee;
}

html {
  font-family: "IBM Plex Sans", sans-serif;
  /* font-size: 137.5%; */
  font-size: calc(
    (var(--font-size-min) * 1px) + (var(--font-size-max) - var(--font-size-min)) *
      (
        (100vw - (var(--viewport-min) * 1px)) /
          (var(--viewport-max) - var(--viewport-min))
      )
  );
  line-height: 1.45;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  letter-spacing: -0.015em;
}

body {
  counter-reset: h2 h3 h4;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Copy & Lists */

/* p + p {
  margin-top: 0.5rem;
} */

ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  list-style-position: inside;
  padding: 0;
}
ul li,
ol li {
  line-height: 1.5rem;
}
ul ul,
ol ul,
ul ol,
ol ol,
dt,
dd {
  margin-top: 0;
  margin-bottom: 0;
}
dl {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: minmax(min-content, max-content);
  grid-gap: 0.4rem 0.5rem;
}
dt {
  grid-column: 1;
}
dd {
  grid-column: 2;
}

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  margin-top: 0.25em;
  margin-bottom: 0;
  line-height: 1.15;
}

h1 {
  font-size: var(--type-scale-2);
}
h2 {
  font-size: var(--type-scale-3);
  margin-bottom: 0.5em;
}

h3 {
  font-size: var(--type-scale-1);
}

h4 {
  font-size: var(--type-scale-0);
}

h5 {
  font-size: var(--type-scale-1);
}

h6 {
  font-size: var(--type-scale-0);
}

p {
  margin-top: 1.5rem;
  margin-bottom: 0;
  max-width: 55ch;
}

* + * {
  margin-top: 0.75em;
}
* + p {
  margin-top: 0.25em;
}

p + p::before {
  content: "";
  display: inline-block;
  width: 1rem;
}
p + h3,
p + h2 {
  margin-top: var(--type-scale-3);
}
p + h4 {
  margin-top: var(--type-scale-2);
}

/* Tables */
table {
  margin: 1.5rem 0;
  border-spacing: 0px;
  border-collapse: collapse;
  text-align: left;
  max-width: 100%;
  min-width: 30vw;
}
table td,
table th {
  padding: 0.5rem 0.5rem 0.5rem 0;
  word-break: break-word;
  hyphens: auto;
}
thead {
  border-bottom: 1px solid #000;
}
th.number,
td.number {
  text-align: right;
}

/* Code blocks */
code {
  vertical-align: bottom;
}
/* Leading paragraph text */
.lead {
  font-size: 1.414rem;
}
/* Hug the block above you */
.hug {
  margin-top: 0;
}

article {
  max-width: 50rem;
  padding: 3rem 6rem;
  box-shadow: 0px 0.5em 1em 4px rgba(155, 155, 155, 0.2);
  margin: 4em auto;
  counter-reset: h2 h3 h4;
  position: relative;
}

a {
  color: var(--color-purple, currentColor);
  font-weight: bold;
  text-decoration-color: #ff0166;
}

h2,
h3,
h4 {
  display: flex;
  align-items: baseline;
  margin-left: -3rem;
}
h2::before,
h3::before,
h4::before {
  display: block;
  width: 3rem;
  left: -0.5rem;
  position: relative;
  font-size: 60%;
  text-align: right;
  color: black;
}

h2::before {
  counter-increment: h2;
  counter-reset: h3 h4;
  content: counter(h2) ".";
}
h3::before {
  counter-increment: h3;
  counter-reset: h4;
  content: counter(h2) "." counter(h3) ".";
}
h4::before {
  counter-increment: h4;
  content: counter(h2) "." counter(h3) "." counter(h4) ".";
}

section {
  counter-reset: h3 h4;
  margin-top: var(--type-scale-5);
  margin-bottom: var(--type-scale-5);
}

header {
  min-height: 50vh;
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

hr {
  margin: var(--type-scale-5) 0;
}

header hr {
  margin: 9rem 0;
}

.split {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.split h2 {
  width: 100%;
  font-size: 1rem;
  font-weight: normal;
}
.split h3 {
  font-size: 1rem;
}
.split h2,
.split h3 {
  margin-left: 0;
  display: block;
}
.split h2::before,
.split h3::before {
  display: none;
}

.split div {
  margin: 0;
}
.split > div,
.split > v-if,
.split > address {
  margin: var(--type-scale-5) 1rem;
  flex: 1 1 40%;
}
.split > h3,
.split > p,
.split > span {
  width: 100%;
  text-align: center;
}

.split--signatures > :not(h2) {
  text-align: center;
  border-top: 1px solid #000;
}

.noList {
  list-style: none;
  margin-top: 1rem;
}

.noList li {
  line-height: 1;
}

/*
section + section {
   border-top: 5px solid var(--color-purple);
}
*/

section:after {
  content: "";
  display: block;
}

@media print {
  @page {
    size: A4;
    margin: 20mm 40mm 20mm 30mm;
  }

  *,
  *:before,
  *:after,
  *:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
								   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  ul,
  li {
    page-break-inside: avoid;
  }

  /*
  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  } */

  article {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    max-width: initial;
    padding-left: 10mm;
  }
  p {
    max-width: initial;
  }

  /*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
	 * Printing Tables:
	 * http://css-discuss.incutio.com/wiki/Printing_Tables
	 */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3,
  h4 {
    orphans: 3;
    widows: 3;
  }

  h1 {
    page-break-before: always;
  }

  header {
    page-break-after: always;
  }

  h2,
  h3,
  h4,
  h5 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  form {
    display: none;
  }
}

.hidden {
  display: none !important;
}

v-if[data-block] {
  display: block;
}
